html {
  min-height: 100%;
}

body {
  background: rgb(76, 90, 246);
  background: linear-gradient(
    145deg,
    rgba(76, 90, 246, 1) 0%,
    rgba(137, 54, 237, 1) 35%,
    rgba(246, 53, 129, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

section {
  min-width: 400px;
}

.list {
  background-color: lavender;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
  min-width: 400px;
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2),
    0 8px 20px 2px rgba(0, 0, 0, 0.2);
}

.list-item {
  display: flex;
  padding: 5px;
  align-items: center;
}
