@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

html {
  min-height: 100%;
  font-family: "Barlow";
}

body {
  background: rgb(76, 90, 246);
  background: linear-gradient(
    145deg,
    rgba(76, 90, 246, 1) 0%,
    rgba(137, 54, 237, 1) 35%,
    rgba(246, 53, 129, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

section {
  min-width: 400px;
}

.list {
  background-color: lavender;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
  min-width: 400px;
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2),
    0 8px 20px 2px rgba(0, 0, 0, 0.2);
}

.list-item {
  display: flex;
  padding: 5px;
  align-items: center;
}

.album {
  font-size: large;
}

.artist {
  font-size: larger;
  font-weight: bold;
}

.clearListItemsBtn {
  width: 97.5%;
  margin-top: 10px;
  padding: 5px 0px;
  color: white;
  border: 1px solid !important;
  background-color: #6f5bd6;
  border-radius: 4px;
  font-family: "Barlow";
  font-size: large;
}

.clearListItemsBtn:hover {
  color: #6f5bd6 !important;
  background-color: white !important;
  border: 1px solid !important;
  border-color: #6f5bd6 !important;
  box-shadow: 0px 5px 8px 8px rgb(76 90 246 / 30%) !important;
  cursor: pointer;
}
